<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705025942703-dlgv52drh35lvhq6o5956ot7ugbemd61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705025942703-dlgv52drh35lvhq6o5956ot7ugbemd61</string>
	<key>API_KEY</key>
	<string>AIzaSyDad-E6J0GZRFRpB7XoHda8M_EfCt2DUFA</string>
	<key>GCM_SENDER_ID</key>
	<string>705025942703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Project.TestProjectAPIFireBase</string>
	<key>PROJECT_ID</key>
	<string>uniyard-dcb93</string>
	<key>STORAGE_BUCKET</key>
	<string>uniyard-dcb93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705025942703:ios:68a6e3e19598e2281f605a</string>
</dict>
</plist>